
@{
    ViewBag.Title = "_AdminLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/lmscustom.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/jquery.mb.YTPlayer.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
</head>
<body style="padding:unset">
    <div>
        <div style="background-color:#5cb85c;">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
        <span class="icon">
            <img src="~/images/logo2.png" style="height:50px; width:100%;" />
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item btn-sm btn-success">
                    <i class="fas fa-home"></i>
                    @Html.ActionLink("Home", "Index", "Admin", new { area = "" }, new { @class = "nav-link", style = "display:inline" })
                </li>
                <li class="nav-item btn-sm btn-success">
                    <i class="fas fa-address-card"></i>
                    @Html.ActionLink("About", "About", "Admin", new { area = "" }, new { @class = "nav-link", style = "display:inline" })
                </li>
                <li class="nav-item btn-sm btn-success">
                    <i class="fas fa-id-badge"></i>
                    @Html.ActionLink("Contact", "Contact", "Admin", new { area = "" }, new { @class = "nav-link", style = "display:inline" })
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end" style="padding-right:50px">
                <li class="" style="padding-left:5px; padding-right:5px">
                    @Html.ActionLink("Books", "Index", "Book", new { area = "" }, new { @class = "nav-item btn-sm btn-primary text-light", style = "text-decoration:none;" })
                </li>
                <li class="" style="padding-left:5px; padding-right:5px">

                    @Html.ActionLink("Users", "Index", "User", null, new { @class = "nav-item btn-sm btn-primary text-light", style = "text-decoration:none;" })
                </li>
                <li class="" style="padding-left: 5px; padding-right: 5px">
                    @Html.ActionLink("Request", "Requests", "AdminTransaction", null, new { @class = "nav-item btn-sm btn-primary text-light", style = "text-decoration:none;" })
                </li>

                <li class="" style="padding-left:5px; padding-right:10px">
                    @Html.ActionLink("Return", "Return", "AdminTransaction", null, new { @class = "nav-item btn-sm btn-primary text-light", style = "text-decoration:none;" })
                </li>
            </ul>
            <span class="text-light" style="padding-top:1px; padding-right:15px"> Welcome back @Session["adminName"]!!</span>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item btn btn-sm btn-success">
                    <i class="fas fa-sign-out-alt"></i>
                    @Html.ActionLink("Logout", "Logout", "Admin", null, new { @class = "nav-link", onclick = "return alert('Logged out successfully');", style = "display:inline" })
                </li>
            </ul>
        </div>
    </nav>
    <div style="padding-left:20px; padding-right:20px">
        @RenderBody()
    </div>
    <div>
        <div class="footer bg-success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mb-4">
                            <img src="~/images/logo2.png" style="height:60px; width:50%">
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>


                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Contact</span></h3>
                        <ul class="list-unstyled text-white">
                            <li>Help Center</li>
                            <li>Support Community</li>
                            <li>Press</li>
                            <li>Share Your Story</li>
                            <li>Our Supporters</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="copyright">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>