
@{
    ViewBag.Title = "_UserLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/lmscustom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="padding:unset">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:darkblue;">
            <span class="icon">
                <img src="~/images/logo2.png" style="height:50px; width:100%;" />
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item btn-sm text-white" style="background-color:darkblue;">
                        <i class="fas fa-home"></i>
                        @Html.ActionLink("Home", "Index", "Student", null, new { @class = "nav-link icon", style = "display:inline" })
                    </li>
                    <li class="nav-item btn-sm text-white" style="background-color:darkblue;">
                        <i class="fas fa-address-card"></i>
                        @Html.ActionLink("About", "About", "Student", null, new { @class = "nav-link icon", style = "display:inline" })
                    </li>
                    <li class="nav-item btn-sm text-white" style="background-color:darkblue;">
                        <i class="fas fa-id-badge"></i>
                        @Html.ActionLink("Contact", "Contact", "Student", null, new { @class = "nav-link icon", style = "display:inline" })
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end" style="padding-right:50px">
                    <li class="" style="padding-left:5px; padding-right:5px">
                        @Html.ActionLink("Issue", "MenuBorrow", "Issue", new { area = "" }, new { @class = "nav-item btn-sm btn-success text-light", style = "text-decoration:none;" })
                    </li>
                    <li class="" style="padding-left:5px; padding-right:5px">

                        @Html.ActionLink("Requested", "MenuRequested", "Issue", null, new { @class = "nav-item btn-sm btn-success text-light", style = "text-decoration:none;" })
                    </li>
                    <li style="padding-left: 5px; padding-right: 5px ">
                        @Html.ActionLink("Received", "MenuReceived", "Issue", null, new { @class = "nav-item btn-sm btn-success text-light", style = "text-decoration:none;" })
                    </li>

                </ul>
                <span class="text-light" style="padding-top:1px; padding-right:15px">Welcome back @Session["userName"]!!</span>
                <ul class="navbar-nav justify-content-end">

                    <li class="nav-item btn btn-sm btn-success">
                        <i class="fas fa-sign-out-alt"></i>
                        @Html.ActionLink("Logout", "Logout", "Student", null, new { @class = "nav-link", onclick = "return alert('Logged out successfully');", style = "display:inline" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div style="padding-left:20px; padding-right:20px">
        @RenderBody()
    </div>
    <div>
        <div class="footer " style="background-color:darkblue;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mb-4">
                            <img src="~/images/logo2.png" style="height: 60px; width: 50%; margin-top:10px">
                        </p>
                        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>


                    <div class="col-lg-3 text-white">
                        <h3 class="footer-heading "><span>Contact</span></h3>
                        <ul class="list-unstyled">
                            <li>Help Center</li>
                            <li>Support Community</li>
                            <li>Press</li>
                            <li>Share Your Story</li>
                            <li>Our Supporters</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="copyright text-white" style="margin-left:500px;">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>