@model IEnumerable<FinallLaibrary.Models.tblBook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Book list</h4>
<hr />
<br />
<br />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        <span class="fs-5">Book List</span>

        <a href="../Book/Create" class="btn btn-outline-success float-end"> <i class="fa fa-plus"></i>Add New</a>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered text-center" id="example">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Book Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Copies</th>
                    <th>Publisher</th>
                    <th>Name</th>
                    <th>No.</th>
                    <th>Copyright</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 1;}
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            @{ i++;}
                            <td>@item.BookTitle</td>
                            <td>@item.BookCategory</td>
                            <td>@item.BookAuthor</td>
                            <td>@item.BookCopies</td>
                            <td>@item.BookPub</td>
                            <td>@item.BookPubName</td>
                            <td>@item.BookISBN</td>
                            <td>@item.Copyright</td>
                            <td>@item.DateAdded</td>
                            <td>@item.Status</td>

                            <td>
                                <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Edit", "Book", new { id = item.BookId })'">
                                    <i class="fas fa-edit"></i> Edit
                                </button>
                                <button class="btn btn-outline-success" onclick="location.href='@Url.Action("Details", "Book", new { id = item.BookId })'">
                                    <i class="fas fa-info-circle iconop"></i> Details
                                </button>
                                <button class="btn btn-outline-danger" onclick="location.href='@Url.Action("Delete", "Book", new { id = item.BookId })'">
                                    <i class="fas fa-trash iconop"></i> Delete
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11">No data found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
@if (Session["bookAddMsg"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@Session["bookAddMsg"]");
                window.location.href = "/Book/BookAddMsg";
            };
    </script>
}

